* {
 box-sizing: border-box;
}
button{
  outline: none;
  border: 0;
  cursor:pointer;
}
li{
  list-style: none;
}
.navbar{
  font-size:2rem;
  padding:1em;
  background-color: blanchedalmond;
}
.navbar-logo{
  color:green;
  margin-right: 0.5em;
}
.navbar-count{
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  background-color: green;
  color:white;
  border-radius: 50%;
}
.habitbutton{
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}
.habit-name{
  font-size:2rem;
}
.habit-count{
  font-size:1.5rem;
}
.habitbutton:hover{
  opacity: 0.8;
}

.fa-square-plus,
.fa-square-minus{
  color:rgb(255, 166, 0);
}
.fa-trash-can{
  color:black;
}

